@import "color.scss";
@import "responsive.scss";
// gray, bone, green, blue, aqua,
//
$paddingSection: 30px;
$radius: 10px;

/*------------------- */
/*----- GENERAL ----- */
/*------------------- */


*{
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: $bg_color_primary;
}

h1, h2.center{
    font-size: 3.5em;
    color: $color_text;
}

.center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}
.margeTop {
    margin-top: 50px;
}

.margeBottom {
    margin-bottom: 30px;
}

.margeLittleTop {
    margin-top: 20px;
}
.margeLittleBottom {
    margin-bottom: 10px;
}
$margeHr: 30px;
hr {
    border: 1px dashed $green;
    margin-top: $margeHr;
    margin-bottom: $margeHr;
}
.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.borderRadiusLeft {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
.borderRadiusRight {
    border-top-right-radius: $radius ;
    border-bottom-right-radius: $radius;
}
/*------------------- */
/*---- DIAPORAMA ---- */
/*------------------- */

/* Bordure diaporama et img */

header{
    padding-top: $paddingSection;
    padding-right: $paddingSection;
    padding-left: $paddingSection;
    article {
        padding: 0;
        background-color: $bg_color_secondary;
        margin-bottom: 0;
        position: relative;
    }

    /* Icone font-awesome position et taille */

    .fas {
        top: 45%;
        position: absolute;
        color: $aqua;
        font-size: 3.5em;
        cursor: pointer;
        margin: 8px;
    }
    .fa-arrow-circle-left{
        left: 0%;
        z-index: 1;
    }
    .fa-arrow-circle-right {
        right: 0%;
    }
    
    .far {
        font-size: 3.5em;
        cursor: pointer;
        color: $aqua;
    }
}
.far{
    font-size: 3.5em;
    cursor: pointer;
    color: $aqua;

}

#imageFigcaption {
    width: 40%;
}

#diaporama {
    padding: 0;
}

/* Légende */

header{
    p, h2{
        color: $color_text;
    }
    h2{
        font-size: 3em;
    }
    p{
        font-size: 1.5em;
        margin: 10px;
    }
}

/*------------------- */
/*------- MAP ------- */
/*------------------- */

.padd {
    padding-right: $paddingSection;
    padding-left: $paddingSection;
}
#map{
    height: 900px;
}

.fond {
    background-color: $bg_color_secondary;
}

/* Panel */


fieldset {
    padding-top: 30px;
    width: 100%;
}
input {
    margin: 10px;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: -20px;;
    left: 10px;
    z-index: 2;
    background-color: $bg_color_secondary;
}
.bordure {
    border: 2px solid $bone;
}

.canvas {
    display: none;
}

/* Element Reservation */

#reservation {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    height: 50px;
    background-color: $blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reservation p {
    margin: 0px;
    
}

/* Footer */

footer {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    .fas.fa-angle-up {
        font-size: 2em;
        cursor: pointer;
    }
}

#info_velo {
    text-align: center;
}


    